%h3
  About
  %span
%p
  Playback is an "album tribute" band. We cover classic albums in their entirety,
  then round out the set with some of the artist's greatest hits. So far our
  repertoire includes Bob Dylan's Blonde on Blonde,
  David Bowie's Aladdin Sane and our latest project, Talking Heads' Stop Making Sense.
%p
  The band's core lineup includes Justin McCann (vox, keys, guitar), Gordon Dunning (bass) and Mark Finlay (drums).
  For Dylan gigs we bring in Dowie Mooney on vocals and harmonica, our Bowie gigs feature
  David McDonald on lead guitar, and our Talking Heads show enlists Jack Hussey on lead guitar and
  Ronan Slater on percussion. Other key members are Cathal Farrelly (vocals, guitar),
  Paula Size (vox) and Louise Carley (vox). Past members have included Kiruu, Karen Williams and Alan Maguire.
