%nav.navbar.navbar-expand-lg.bg-body-tertiary.bg-dark
  .container-fluid
    %a.navbar-brand{:href => "#"} PB
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarNav.collapse.navbar-collapse
      %ul.navbar-nav
        %li.nav-item
          %a.nav-link.active{"aria-current" => "page", :href => "#home"} Home
        %li.nav-item
          %a.nav-link{:href => "#no-sense"} Still Don't Make No Sense
        %li.nav-item
          %a.nav-link{:href => "#tour"} Shows
        %li.nav-item
          %a.nav-link{:href => "#about"} About
        %li.nav-item
          %a.nav-link{:href => "#contact"} Contact
