%header#home
  = render partial: 'home/nav'
  .carousel.slide#carouselExample{ 'data-bs-ride' => 'carousel' }
    .carousel-inner
      .carousel-item.item.active
        %img.d-block.w-100{ alt: 'Playback full band on stage',
                            src: image_path('sugarclub/Playback_-5_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Paula an Louise on stage',
                            src: image_path('sugarclub/Playback_-7_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-15_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-31_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-57_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-65_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-86_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-129_websize.webp') }
      .carousel-item.item
        %img.d-block.w-100{ alt: 'Third slide',
                            src: image_path('sugarclub/Playback_-157_websize.webp') }
    %button.carousel-control-prev{"data-bs-slide" => "prev", "data-bs-target" => "#carouselExample", :type => "button"}
      %span.carousel-control-prev-icon{"aria-hidden" => "true"}
      %span.visually-hidden Previous
    %button.carousel-control-next{"data-bs-slide" => "next", "data-bs-target" => "#carouselExample", :type => "button"}
      %span.carousel-control-next-icon{"aria-hidden" => "true"}
      %span.visually-hidden Next

  .title
    %h1
      =  BAND_NAME
    %p= @sub_title
  .download
    %a.btn.btn-light{ href: '#contact' }
      %i.fa.fa-bookmark{ 'aria-hidden' => 'true' }
      Book now!
.show-stage#no-sense
  .container
    .row
      .col-lg-3
        %h3
          Still don't make no sense
          %span
        %p
          Floor lamp? Check. Big suit? Check. A tape they’d like to play? Check.
          Come and watch as the band blast through all sixteen of the songs from the film, including
          classics like “Psycho Killer”, “Once in a Lifetime”, “Burning Down the House” and “This Must Be the Place”.
      .col-lg-9
        .card-deck
          .card
            .card-image
              .embed-responsive.embed-responsive-16by9
                %iframe{ allowfullscreen: '',
                         frameborder: '0',
                         height: '315',
                         src: 'https://www.youtube.com/embed/u1UNBKK4w3A',
                         width: '560' }

.tour#tour.mb-4
  .container
    .row
      .col-lg-4
        %h3
          Shows
          %span
        %p Book early book often!
      .col-lg-8
        .card-group
          .card
            .card-body
              %h4.card-title Clonmel
              %p.card-text
                %i.fa.fa-map-marker{ 'aria-hidden' => 'true' }
                Tipperary, Ireland
              %a.btn{ disabled: true } No Tickets Yet
            .card-footer
              %small.text-muted
                %i.fa.fa-calendar{ 'aria-hidden' => 'true' }
                9th February

          .card
            .card-body
              %h4.card-title Opium (Bowiefestival)
              %p.card-text
                %i.fa.fa-map-marker{ 'aria-hidden' => 'true' }
                Dublin, Ireland
              %a.btn.btn-light{ href: 'https://www.whelanslive.com/ticket/sweet-thing/', target: '_blank' } Buy Ticket
            .card-footer
              %small.text-muted
                %i.fa.fa-calendar{ 'aria-hidden' => 'true' }
                10th February

          .card
            .card-body
              %h4.card-title The Sugar Club
              %p.card-text
                %i.fa.fa-map-marker{ 'aria-hidden' => 'true' }
                Dublin, Ireland
              %a.btn.btn-light{ href: 'https://www.sugarclubtickets.com/purchase/playback-performs-talking-heads--stop-making-sense', target: '_blank' } Buy Ticket
            .card-footer
              %small.text-muted
                %i.fa.fa-calendar{ 'aria-hidden' => 'true' }
                24th February

.about#about
  .container
    .row
      .col-lg-12
        = render partial: 'home/about'
        %hr/
        %br/
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Justin McCann', src: image_path('headshots/justin_mccann_v2.webp') }
          %h4 Justin McCann
          %p (vox, keys)
          %ul
            %li
              %a{:href => "#"}
                %i.fa.fa-twitter{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.fa.fa-facebook{"aria-hidden" => "true"}
              %a{:href => "#"}
                %i.fa.fa-instagram{"aria-hidden" => "true"}
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Cathal Farrelly', src: image_path('headshots/cathal_farrelly_v2.webp') }
          %h4 Cathal Farrelly
          %p (vox, guitar, Big Suit)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Jack Hussey', src: image_path('headshots/jack_hussey_v2.webp') }
          %h4 Jack Hussey
          %p (lead guitar)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Gordon Dunning', src: image_path('headshots/gordon_dunning_v2.webp') }
          %h4 Gordon Dunning
          %p (bass)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Mark Finlay', src: image_path('headshots/mark_finlay_v2.webp') }
          %h4 Mark Finlay
          %p (drums)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Paula Size', src: image_path('headshots/paula_size_v2.webp') }
          %h4 Paula Size
          %p (vox)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Louise Carley', src: image_path('headshots/louise_carley_v2.webp') }
          %h4 Louise Carley
          %p (vox)
      .col-lg-3.col-sm-6
        .box
          %img{ alt: 'Ronan Slater', src: image_path('headshots/ronan_slater_v2.webp') }
          %h4 Ronan Slater
          %p (percussion)

.contact#contact.mt-5
  .container
    .row
      .col-lg-6
        .card
          .card-body
            %h4.card-title Social Media
            %p.card-text
              %i.fa.fa-facebook{ 'aria-hidden' => 'true' }
              %a{ href: 'https://www.facebook.com/playbackireland/' }
                https://www.facebook.com/playbackireland/
              %br
              %i.fa.fa-instagram{ 'aria-hidden' => 'true' }
              %a{ href: 'https://www.instagram.com/playback_ireland' }
                https://www.instagram.com/playback_ireland/
              %br/
              %i.fa.fa-envelope{ 'aria-hidden' => 'true' }
              %a{ href: 'mailto:playbackireland@gmail.com' }
                playbackireland@gmail.com
      .col-lg-6
        .card
          .card-body
            %h4.card-title Bookings Contact: Justin McCann
            %p.card-text
              %i.fa.fa-phone{ 'aria-hidden' => 'true' }
              %a{ href: 'tel:+353868498387' } +353868498387
              %br
              %i.fa.fa-envelope{ 'aria-hidden' => 'true' }
              %a{ href: 'mailto:mccannju@tcd.ie' } mccannju@tcd.ie
